.DemoGrid {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: slategray;
  grid-gap: 4px;
  padding: 1px;
  grid-template-areas: 
    'video video docs docs'
    'video video docs docs'
    'demo demo demo demo'
    'demo demo demo demo';
}

.DemoVideo {
  width: 50vw;
  display:flex;
  background-color: lightgray;
  grid-area: video;
}

.DemoDocs {
  width: 45vw;
  padding: 5px;
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  grid-area: docs;
}

.DemoDocs > p {
  width: 40vw;
}

.DemoMain {
  width: 98vw;
  height: 50vh;
  display:flex;
  background-color: lightgray;
  grid-area: demo;
}
